<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THUG-CHAT</title>
    <link rel="stylesheet" href="/assets/css/chat.css">
    <link rel="icon" href="static/websiteicon.ico" type="image/png">
</head>
<body>

    <div id="sidebar">        
        <h3>TRUE THUGS</h3>
        <ul id="user-list"></ul>
    </div>

    <div id="customAlert" style="display:none; position:fixed; top:20%; left:50%; transform:translate(-50%, -50%); background-color:rgba(0,0,0,0.8); color:white; padding:20px; border-radius:5px;">
        <span id="alertMessage"></span>
        <button id="alertCloseButton" style="margin-left:10px;">Close</button>
    </div>

    <div id="header" style="background-color: #1c1c1c; padding: 10px; border-radius: 4px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); color: #ffffff; text-align: center; position: absolute; top: 10px; left: 50%; transform: translateX(-50%);">
        LOGGED IN AS <span id="username-placeholder">{{ username }}</span>
    </div>

    <button id="adminButton" class="open-commands-button">ADMIN PANEL</button>
    <button id="change-pfp-button" class="open-commands-button" onclick="window.open('/account_settings', '_blank');">EDIT YOUR ACCOUNT</button>
    <button id="reload-button" class="open-commands-button">Reload</button>

    <div id="chat-container">
        <div id="chat-box"></div>
        <div class="typing-indicator" id="typing-indicator"></div>
        <div id="warning-message"></div>
        <form id="message-form" style="position: relative;">
            <textarea id="message-input" placeholder="Type your message..." autofocus></textarea>
            <span id="char-count" style="position: absolute; right: 10px; bottom: 10px; color: #aaa; font-size: 0.8em;">0</span>
            <button id="send-button" type="button">>>>></button>
            <button id="upload-button" type="button">Upload File</button>
            <a id="logout-button" href="/logout">Logout</a>
        </form>

        <input id="file-input" type="file" style="display: none;">
        <div class="progress">
            <div class="progress-bar" id="progress-bar"></div>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/assets/js/cme.js"></script>
    <script src="/assets/js/message.js"></script>

</body>
</html>
